.modal {
    border: 1px solid white;
    width: 25%;
    height: 50px;
    position: relative;
    top: -5px;
    background-color: white;
    left: 35%;
    border-radius: 12px;
    z-index: 7;
}

.btn {
    margin: 3px;
    padding: 3px;
    background-color: rgb(72, 72, 218);
    color: white;
    border: 0px;
}