* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#056164, rgb(8, 4, 82));
}

.todo-app {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 50vmax;
    margin: auto;
    min-height: 500px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px !important;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    z-index: 1;
}

.todo-form {
    margin-bottom: 60px;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #0000000a;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.397);
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg,
            rgba(93, 12, 255, 0.05) 0%,
            rgba(154, 0, 250, 0.037) 100%);
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.todo-button:hover {
    text-transform: uppercase;
}

.todo-input.edit {
    border: 2px solid #149fff;
}

.todo-button.edit {
    background: linear-gradient(90deg,
            rgba(20, 159, 255, 1) 0%,
            rgba(17, 122, 255, 1) 100%);
    padding: 16px 22px;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}


@media (min-width: 320px) and (max-width: 650px) {
    .todo-app {
        margin: 0;
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(-5px);
    }

    .todo-input {
        width: 215px;
    }

    .todo-row {
        width: 80%;
    }

    .todo-button:hover {
        text-transform: none;
    }
}